header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

header .name {
  padding: 2%;
  background: lightgray;
}

@media (max-width: 500px) {
  header .name {
    margin: auto;
  }
}

header .name h1 {
  padding: 1%;
  text-shadow: 10px 10px 10px;
}

header .name h1 a {
  text-decoration: none;
  color: black;
}

header .name h2 {
  padding: 1%;
  text-shadow: 10px 10px 10px;
}

header .name h2 a {
  text-decoration: none;
  color: black;
}

header .name p {
  padding: 1%;
}

header .name p a {
  text-decoration: none;
  color: black;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 500px) {
  main article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main article .card {
  height: 250px;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: height 1s ease 0s;
  transition: height 1s ease 0s;
}

@media (max-width: 500px) {
  main article .card {
    margin-top: 30px;
  }
}

main article .card .card-img-top {
  height: 250px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 8px;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

main article .card .card-img-top:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.7;
}

main article .card h2 {
  color: black;
  width: 200px;
  position: absolute;
  text-align: center;
  top: 40%;
}

main article .card .card-body {
  display: none;
  text-align: center;
}

main article .card .card-body .card-text {
  font-size: 15px;
  margin-top: 10%;
}

main article .card .card-body .btn {
  border: solid black 1px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

main article .card .card-body .btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main article .card .card-body .btn a {
  color: white;
  text-decoration: none;
}

footer {
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
}

footer span {
  font-size: 22px;
  color: white;
}

@media (max-width: 500px) {
  footer span {
    font-size: 10px;
    margin-left: 10px;
  }
}

footer span a {
  text-decoration: none;
  color: white;
  font-size: 7px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer ul li {
  cursor: pointer;
  margin: 20%;
}

@media (max-width: 500px) {
  footer ul li {
    margin: 5%;
  }
}
/*# sourceMappingURL=sf.css.map */